# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
venv/
ENV/
deployment-vulnerable.yaml
# Environment Variables, Secrets & Generated Certificates
.env
*.pem
*.key
certs/*.crt
certs/*.key
certs/*.yaml
!certs/.gitkeep

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp

