# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
venv/
ENV/
deployment-vulnerable.yaml
# Environment Variables & Secrets
.env
*.pem
*.key

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp

